{% extends 'default.html' %}

{% load custom_filters %}
<!-- Название у нас будет Новости -->
{% block title %}
NEWS
{% endblock title %}
 
<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h4> {{ time_now }} </h4>
    <h1>Новости</h1>

    <h3> Новостей на сайте: {{ posts|length  }} </h3>
    {% if posts %}
    <table>
        <tr>
            <td>
                Заголовок
            </td>
            <td>
                Дата публикации
            </td>
            <td>
                Содержание
            </td>
        </tr>
        {% for post in posts %}
        <tr>
            <td>
                {{post.post_title|censor }}
                
            </td>
            <td>
                {{post.post_datetime|date:'d M Y'}}
            </td>
            <td>
                {{post.article_text|truncatechars:50 |censor }}
                
            </td>
        </tr>



        {% endfor %}
    </table>
    {% else %}
        <h2>Новостей на сегодня нет</h2>
    {% endif %}
{% endblock content %}

